body{
	outline: none;
	font-size: 14px;
	margin: 40px 0 0 0;
	padding: 0;
	font-family:sans-serif;
	background: #e3e3e3;
}
/*页面头部  浅蓝渐变 6AB015-4CA005 */

.header_container{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 40px;
	background: #6AB015;
	background-image: -moz-linear-gradient(top,#6AB015,#4CA005);
	background-image: -ms-linear-gradient(top,#6AB015,#4CA005);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#6AB015),to(#4CA005));
	background-image: -webkit-linear-gradient(top,#6AB015,#4CA005);
	background-image: -o-linear-gradient(top,#6AB015,#4CA005);
	background-image: linear-gradient(top,#6AB015,#4CA005);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6AB015', endColorstr='#4CA005', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-bottom: 1px solid #3CA005;
	box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);

}
.header_main,.tips_main{
	width: 1000px;
	margin: auto;
}

#header_logo{
	float: left;
	margin: 0;
	padding: 0;
	height: 45px;
	cursor: pointer;
}

.top_menu_item{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	padding: 0 15px;
	color: #fff;
	cursor: pointer;
}

#userInfo_btn{
	float: left;
	font-size: 16px;
	padding-left: 50px;
	margin-right: 10px;
}
.top_divide_line{
	height: 30px;
	width: 1px;
	float: left;
	margin: 5px 10px;
	background: #aaa;
}
.top_avatar{
	position: absolute;
	top: 5px;
	left: 10px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}
.top_accordion{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 15px;
	left: 5px;
	opacity: .5;
}
.profile_menu{
	display: none;
	position: absolute;
	top: 41px;
	left: -36px;
	list-style: none;
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	margin:0;
	background: #6AB015;
}

.profile_menu li{
	display: list-item;
	font-size: 15px;
	padding:7px 20px;
	color: #eee;
	text-decoration: none;
	border-top: 1px solid rgba(255,255,255,.1);
	cursor: pointer;
}
.profile_menu li:hover{
	background: rgba(255,255,255,.3)
}

.top_menu_item:hover{
	background: rgba(0,0,0,.1);
}

.header_search{
	float: right;
	margin-left: 20px;
}
.search{
	float: right;
	margin: 5px 5px 0 0;
	width: 200px;
	height: 20px;
	font-size: 15px;
	box-shadow: 1px 1px 2px #ccc;
	text-indent: 6px;
}
#search_btn{
	position: relative;
	top:5px;
	right: -200px;
	display: inline;
	width: 20px;
	height: 20px;
}
#search_btn:hover{
	cursor: pointer;
}
.top_btn{
	margin: 0 0 0 6px;
	color: #eee;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	padding: 7px 18px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.05);
	background: rgba(255,255,255,.07);
}
.top_btn:hover{
	background: rgba(0,0,0,.05);
	cursor: pointer;
	color: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);;
}
.toolbar_menu{
	width: 100px;
	height: 40px;
}




/*提示注册登录处*/
.tips_reg_log_container{

	clear: both;
	width: 100%;
	height: 160px;
	background: #eee;
	box-shadow: 1px 1px 2px #ddd;
}

.tips_join{
	float: left;
	height: 160px;
	line-height: 160px;
	font-size: 30px;
	margin: 0;
	padding: 0 50px;
	color: #444;
}
.tips_btns{
	margin: 60px 0 0 0;
	float: left;
	color: 
}

.tips_reg_btn, .tips_log_btn{
	margin: 0px 7px;
	padding: 5px 20px;
	font-size: 20px;

}
/*注册登录弹出窗口*/
#dia_reg,#dia_login,#dia_ask{
	display: none;
	color: #777;
}
#dia_reg form,#dia_login form,#dia_ask form{
	margin: 20px 0 0 15px;
}

.dia_textbox{
	height: 20px;
	width: 200px;
}
.dia_submit{
	display: block;
	height: 35px; 
	padding: 0px;
	margin: 15px auto 0 auto;
}

#dia_load{
	padding: 0 0 0 45px;
	line-height: 40px;
	margin: 0;
	font-size:14px;
	font-weight:bold;
	color: #666;
	background: url(images/loading.gif) no-repeat 15px center;
}
/*提问窗口*/
#ask_title{
	width: 590px;
	margin-left: 1px;
}

#ask_details{
	width: 590px;
	height: 100px;
	resize: none;
}
.details_textarea_div{
	margin: -15px 0 0 55px;
}

/*页面主要内容*/
.main_container{
	width: 1000px;
	margin: 0px auto;
}

.main_left{
	position: absolute;
	width: 800px;
	float: left;
	margin: 15px 0 0 0;
}

/*index页面独有内容*****************************************************************************************/
.items_container{
	width: 95%;
}
.item_container{
	width: 100%;
	border-top: 1px solid #eee;
	padding: 15px 0;
}
.item_left{
	width: 10%;
}
.item_avatar{
	margin: 11px 15px 0 15px;
	background: #ccc;
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

.item_main{
	width: 75%;
}

.item_title{
	display: block;
	font-size: 16px;
	color: #999;
	margin: 10px 15px;
	font-style: bold;
	text-decoration: none;
}

.item_title:hover{
	color: #444;
	text-decoration: underline;
	cursor: pointer;
}

.item_hot_comment_div{
	color: #888;
	font-size: 14px;
	margin: 10px 15px;
}
.item_hot_comment{
	display:inline;
	line-height:150%;
}
.item_hot_comment_scale{
	display: none;
	font-size:12px;
	color:#6CA005;
	padding:3px 5px;
}
.item_hot_comment_scale:hover{
	background:#eee;
	text-decoration:underline;
	cursor:pointer;
}
.item_info{
	color: #ccc;
	float: right;
	margin-right: 15px;
}
.item_user,.item_hot_user{
	color: #aaa;
}
.item_user:hover,.item_hot_user:hover{
	color: #777;
	text-decoration: underline;
	cursor: pointer;
}
.item_right{
	width: 15%;
}

.item_comment_counts{
	float: right;
	color: white;
	background: #969cb1;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 15px;
	border-radius: 15px; 
	cursor: pointer;
}
.item_comment_counts:hover{
	background: #747a90;
}
.item_more{
	color: #aaa;
	width: 500px;
	background: #f8f8f9;
	text-align: center;
	padding: 10px 0;
	margin: 15px auto;
}

.main_right{
	width: 180px;
	float: right;
	margin: 15px 0 0 0;
}

.accordion_title{
	margin: 0;
}

/*灰色旋转条*/
.spinner_gray {
	background-image: url(images/grey-loading@2x.gif);
	display: inline-block;
	margin: 0 5px;
	width: 14px;
	height: 15px;
	vertical-align: -3px;
	background-size: 14px 15px;
	background-repeat: no-repeat;
}

/*全局使用*******************************************************************************************/
.round_textbox{
	outline:none;
	border-radius: 3px;
	text-indent: 3px;
	padding: 3px;
	border: 1px solid #eee;
	color: #777;
	background: white;
	box-shadow: 0px 0px 0px #6AB015;
	-webkit-animation: hideShadow 1s; /* Chrome, Safari, Opera */
    animation: hideShadow 1s;
}
.round_textbox:focus{
	box-shadow: 0px 0px 2px #6AB015;
	border: 1px solid #6AB015;
	-webkit-animation: showShadow 1s; /* Chrome, Safari, Opera */
    animation: showShadow 1s;
}
#search_input{
	margin-right: 0px;
	border: 1px solid #6AB015;
	box-shadow: 0px 0px 0px #eee;
	background: rgb(220,245,220);
	-webkit-animation: showShadow 1s; /* Chrome, Safari, Opera */
    animation: showShadow 1s;
}
#search_input:focus{
	border: 1px solid #eee;
	box-shadow: 0px 0px 3px #eee;
	background: rgb(255,255,255);
	-webkit-animation: hideShadow 1s; /* Chrome, Safari, Opera */
    animation: hideShadow 1s;
}
/*区块样式属性*/
.box_container{
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
	position: relative;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes showShadow {
    from {
    	box-shadow: 0px 0px 3px #eee;
   		border: 1px solid #eee;
   	}
    to {
    	box-shadow: 0px 0px 2px #6AB015;
		border: 1px solid #6AB015;
    }
}

/* Standard syntax */
@keyframes showShadow {
    from {
    	box-shadow: 0px 0px 3px #eee;
   		border: 1px solid #eee;
   	}
    to {
    	box-shadow: 0px 0px 2px #6AB015;
		border: 1px solid #6AB015;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hideShadow {
    from {
    	box-shadow: 0px 0px 2px #6AB015;
   		border: 1px solid #6AB015;
   	}
    to {
    	box-shadow: 0px 0px 3px #eee;
		border: 1px solid #eee;
    }
}

/* Standard syntax */
@keyframes hideShadow {
    from {
    	box-shadow: 0px 0px 2px #6AB015;
   		border: 1px solid #6AB015;
   	}
    to {
    	box-shadow: 0px 0px 3px #eee;
		border: 1px solid #eee;
    }
}



/*  更改Jquery UI  ****************************************************************************/
.ui-widget-content a {
	color: #666;
}
.ui-widget-overlay{
	opacity: .6;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
	outline:none;
	background: #88C833;
	color: white;
	border-radius: 3px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	outline:none;
	background: #6AB015;
	cursor: pointer;
	box-shadow: 3px 3px 3px #ddd;
}
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	outline:none;
	background: #4CA005;
}

.ui-autocomplete{
	z-index: 200;
}

.ui-widget-content {
	border: none;
	color: #999;
}

.ui-widget-header {
/*	border-top: 0px solid #eeeeee;
	border-left: 0px solid #eeeeee;
	border-right: 0px solid #eeeeee;*/
	border: none;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 10px 0 0 5px;
}

.ui-tabs-nav .ui-state-default{
	border-radius: 1px;
}

.ui-tabs-nav .ui-state-active{
	background: white;
	border: 1px solid #eee;
	box-shadow: none;
}


.ui-tabs .ui-state-active .ui-tabs-anchor,
.ui-tabs-nav .ui-state-focus .ui-tabs-anchor{
	float: left;
	padding: .5em 1em;
	text-decoration: none;
	outline: none;
	color: #4CA005;
}

.ui-accordion .ui-state-active{
	color: #4CA005;
}

.ui-accordion .ui-state-active{
	background: white;
	box-shadow: none;
}

.ui-state-active .ui-icon {
	background-image: url("jquery-ui/images/ui-icons_8DC262_256x240.png");
}

.ui-accordion .ui-accordion-header{
	margin:0 0 2px 0;
}
/*  更改Jquery UI  */

/*Editor插件属性*/
element.style {
	padding: 0px;
	margin: 0px;
	color: #777;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22.1000003814697px;
}

/*下方属于details子页面内容*******************************************************************************/
.details_top_info{
	margin: 20px;
	margin-bottom: 0px;
	color:#aaa;
	float: left;
	font-size: 12px;
	width: 100%;
}
.details_ava_and_gruops{

}
#details_container{
	position: relative;

}
.details_avatar{
	margin: 0;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.details_groups{
	position: relative;
	display: inline-block;
	bottom: 20px;
}
.chevron {
	font-family: "Lucida Grande";
	font-weight: 500;
}

.group_item{
	background: #effaf6;
	color: #6AB045;
	padding: 7px 10px;
	border-radius: 30px;
	text-decoration: none;
	margin: 0 5px 5px 0;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}
.group_item:hover{
	background: #6AB045;
	color: #eee;
}
.details_comment_counts{
	position: absolute;
	float: none;
	cursor: default;
	right: 15px;
	top: 20px;
}
.details_info_container{
	margin: 0px 0 5px 0;
}
.details_title_info{
	border-top: 1px solid #eee;
	width: 100%;
	float: left;
	padding: 10px;
	margin:10px;
}
.tag_item{
	font-size: 12px;
	background: #effaf6 url(images/tag.png) 5px 5px no-repeat;
	background-size: 20px 18px;
	color: #6AB045;
	padding: 7px 10px 7px 27px;
	margin: 0 5px 5px 0;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}

.tag_item:hover{
	background: #deefe4 url(images/tag.png) 5px 5px no-repeat;
	background-size: 20px 18px;
	text-decoration: underline;
}

.details_title_content{
	font-size: 15px;
	color: #666;
}
.details_question_main{
	line-height: 150%;
	padding: 0px 20px 30px 20px;
	clear: both;
	color: #888;
}

.comments_container{
	margin-top: 20px;
}

.comment_avatar{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.comment_info{
	position: relative;
	display: inline-block;
	bottom: 10px;
}
.comment_main{
	clear: both;
	color: #999;
	border-bottom: 1px solid #eee;
	padding:0 10px 20px 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.comment_index{
	float: right;
	cursor: default;
	margin: 0px 50px;
}
.comment_label{
	color: #888;
	padding:15px 20px;
}
.comment_btn{
	display: block;
	position: absolute;
	right: 20px;
	bottom: 9px;
	background:#eee;
	padding: 4px 10px;
	font-size: 13px;
	font-style:bold;
	border-radius: 3px;
}
.comment_content{
	margin: 10px;
	width: 770px;
	max-width: 770px;
	margin-bottom: 40px;
	font-size: 14px;
}
.comment_btn_ok{
	position: absolute;
	right: 10px;
	bottom:  5px;
}

.comment_btn_cancel{
	position: absolute;
	right: 80px;
	bottom:  5px;
}
.comment_input_container{
	display: none;
}
.comments_and_label__container{
	padding: 0 10px 10px 10px;
}